<!DOCTYPE html>
<html lang="en">
  <head>
    
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css">
    <title>GameDex</title>

   
  </head>
  <body>
    <header>
      <h1>Welcome to GameDex!</h1>
      <p>Your ultimate app for managing your video game collection.</p>
    </header>
    <main>
      <p>
        Whether you're a casual gamer or a hardcore enthusiast, GameDex helps
        you organize and track all your favorite games in one place!
      </p>
      <p>Join our growing community today:</p>
      <a href="/auth/sign-up">Sign Up</a>
      <a href="/auth/sign-in">Sign In</a>
    </main>
    <footer>
      <p>&copy; <%= new Date().getFullYear() %> GameDex. All rights reserved.</p>
    </footer>
  </body>
</html>
