/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom, rgba(112, 120, 130, 0.315), rgba(31, 32, 101, 0.9)), url('/images/header-bg.jpg');
    color: #333;
    display: flex;
    flex-direction: column; /* Allows stacking of elements (h1, form) */
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
/* Header */
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #bc4212;
    font-size: 24px;
  }
  
  /* Form Container */
  form {
    background-color: #c8cbcf;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
  }
  
  /* Form Labels */
  form label {
    display: block;
    margin-top: 15px;
    font-size: 14px;
    color: #2c3e50;
    font-weight: bold;
  }
  
  /* Form Inputs */
  form input[type="text"],
  form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #dfe6e9;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
  }
  
  /* Submit Button */
  form button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    transition: background-color 0.3s ease;
  }
  
  form button:hover {
    background-color: #2980b9;
  }
  
  /* Responsive Design */
  @media (max-width: 600px) {
    form {
      padding: 15px 20px;
    }
  
    form button {
      font-size: 14px;
    }
  }
  