body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: #4c9af2;
}
header {
  background-color: #6200ea;
  color: #fff;
  padding: 20px 0;
  margin-bottom: 30px;
}
header h1 {
  margin: 0;
  font-size: 2.5em;
}
header p {
  margin: 5px 0 0;
  font-size: 1.2em;
}
main {
  margin: 0 auto;
  padding: 20px;
  max-width: 800px;
}
a {
  display: inline-block;
  margin: 10px 15px;
  padding: 10px 20px;

  text-decoration: none;
  color: #fff;
  background-color: #6200ea;
  border-radius: 5px;
  font-size: 1em;
  transition: background-color 0.3s ease;
}
a:hover {
  background-color: #3700b3;
}

nav a {
  margin-top: 50px;
  background-color: #6200ea;
  color: #fff;
  padding: 10px 0;
  padding-left: 2%;
  padding-right: 2%;
  font-size: 0.9em;
  text-align: center;
}
nav a:hover {
  background-color: #3700b3;
}