<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/views/videoGames/gameList.css" />
  <title>All Video Games</title>
  </head>
  <body>
    <h1>All Video Games</h1>
    <nav>
      <% if(user) { %>
        <a href="/auth/sign-out">Sign Out</a>
      <% } else { %>
        <a href="/auth/sign-in">Sign In</a>
        <a href="/auth/sign-up">Sign Up</a>
      <% } %>
    </nav>
    <% if (games && games.length > 0) { %>
    <ul>
      <% games.forEach(game => { %>
      <li>
        <strong>Name:</strong> <%= game.name %> <br />
        <strong>Genre:</strong> <%= game.genre %> <br />
        <strong>Release Year:</strong> <%= game.date %> <br />
        

        <!--Add to favorites button-->
        <% const isFavorite = user.favoriteGames.includes(game._id.toString());
        %> <% if (!isFavorite) { %>
        <form
          action="/videoGames/gameList/<%= game._id %>"
          method="POST"
        >
          <button type="submit">Add to Favorites</button>
        </form>
        <% } else { %>
        <p>Already in Favorites</p>
        <% } %>
      </li>
      <% }) %>
    </ul>
    <% } else { %>
    <p>No video games found!</p>
    <% } %>
  </body>
</html>